*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1rem = 10px. This logic makes it easy to convert all
  font-sizes to rem units.*/
  /* Default font-size of a brouser is 16px. 
  So, in order to keep the root font-sise equal to 10px
  independant of default browser settings,
  we calculate it in percentages: 10/16*100 = 62.5% and set it.
  This approach will make it possible for a user to adjust
  default browser settings to his needs. */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #fff;
  background-color: #a6c9ff;
  font-family: "Roboto", sans-serif;
}

::selection {
  background-color: #a6c9ff;
  color: #fff;
}

.container {
  max-width: 117rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 107rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.popup-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #FF4B4B;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  border: none;
  border-radius: 2.5rem;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.popup-btn:hover {
  box-shadow: 2px 5px 10px rgb(73, 121, 87);
}

.header {
  background-color: #7029CB;
  height: 17.6rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.header h1 span {
  margin-left: 9px;
}
.header__wrapper {
  display: flex;
  max-width: 449px;
  width: 100%;
  justify-content: space-between;
  margin-right: 10rem;
  margin-bottom: 1rem;
}
.header__arr-left {
  margin-right: auto;
}
.header__arr-right {
  margin-left: auto;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

a {
  font-size: 2.8rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
}

.main__blocks div {
  font-size: 5.4rem;
  font-weight: 500;
}

.main__text {
  font-size: 2.8rem;
  font-weight: 500;
}

.main-nav {
  height: 14.8rem;
  background-color: #B47FF6;
  position: relative;
}
.main-nav__row {
  justify-content: end;
  padding-right: 6px;
}
.main-nav__list {
  display: flex;
  margin-top: 5px;
}
.main-nav .hide {
  display: none;
}
.main-nav li {
  list-style: none;
}
.main-nav__item:first-child {
  margin-left: 10.5rem;
}
.main-nav__item:not(:first-child) {
  margin-left: 5.7rem;
}
.main-nav__item:hover {
  text-decoration: underline;
}
.main-nav__burger {
  margin-left: auto;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
}
.main-nav__burger span {
  display: inline-block;
  width: 43px;
  height: 2px;
  background-color: #fff;
}
.main-nav__burger span:nth-child(2) {
  margin: 1rem auto;
}
.main-nav.popup__close {
  margin-top: 1rem;
}

.drop-down {
  width: 451px;
  height: 500px;
  padding-top: 3.5rem;
  padding-bottom: 5.7rem;
  background-color: #a6c9ff;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.drop-down .popup-btn {
  margin: 0 auto;
}
.drop-down__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
  margin-bottom: 5.8rem;
  padding-left: 6.5rem;
}
.drop-down__item:hover {
  text-decoration: underline;
}

.main h2 {
  margin: 4.5rem auto;
  padding-left: 1.2rem;
}
.main__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__blocks-block {
  background-color: #00FF4A;
  height: 19.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__blocks-block--one {
  width: 33.5%;
  margin-bottom: 17px;
}
.main__blocks-block--two {
  width: 65.5%;
  margin-bottom: 17px;
  padding-right: 176px;
}
.main__blocks-block--three {
  width: 85%;
}
.main__blocks-block--four {
  width: 13.5%;
}
.main__squares {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 24.8rem;
  background-color: #D4FF5A;
  border-radius: 3rem;
  max-width: 112rem;
  width: 100%;
  margin: 0 auto;
}
.main__squares__square {
  width: 198px;
  display: inline-block;
  aspect-ratio: 1/1;
  border-radius: 4rem;
  border: 2px solid #00FF4A;
  background-color: #497957;
  transition: all 0.2s;
}
.main__squares__square:hover {
  box-shadow: 2px 5px 10px rgb(73, 121, 87);
}
.main__text {
  margin: 4.2rem auto 1.6rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 95rem;
  }
  .row {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .main__squares {
    height: 20rem;
  }
  .main__squares__square {
    width: 17rem;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
  .container {
    max-width: 90rem;
  }
  .header__arr-left img,
.header__arr-right img {
    width: 80%;
  }
  .main__squares {
    max-width: 75rem;
    height: 18rem;
  }
  .main__squares__square {
    width: 14rem;
  }
  .popup-btn {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 425px) {
  html {
    font-size: 50%;
  }
  .main-nav__list {
    display: none;
  }
}
.footer-nav {
  margin-top: 4rem;
  background-color: #B47FF6;
  height: 10rem;
  font-size: 28px;
  transition: all 0.2s;
}
.footer-nav li:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.footer-nav__row {
  width: 76rem;
  justify-content: space-between;
  list-style: none;
}

.popup-overlay,
.popup {
  position: fixed;
  -webkit-overflow-scrolling: touch;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  transition: opacity 400ms ease-in;
  z-index: -1;
  display: none;
}
.popup-overlay:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.popup {
  width: 40rem;
  height: 40rem;
  background-color: #a6c9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__close {
  background-color: #497957;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

/*# sourceMappingURL=main.css.map */
