// VARIABLES
$color-bg: #a6c9ff;
$color-text: #fff;
$color-nav: #B47FF6;
$color-header: #7029CB;
$color-banner: #3ADE4B;
$color-accent: #FF4B4B;
$color-cart: #497957;
$color-cart-stroke: #00FF4A;
$color-block-bg: #D4FF5A;
$color-block-shadow: 2px 5px 10px rgba(73, 121, 87, 1);
$color-text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
$color-popup-bg: rgba(0, 0, 0, 0.5);